*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}

html {
	font-size: 62.5%;
}

.cd-header {
    position: absolute;
    z-index: 10002;
}

body {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	--background-color: hsl(180, 20%, 90%);
	font-family: 'Product Sans', sans-serif;
	min-height: 100vh;
	padding: 2rem;
	color: hsla(0%, 0%, 0%, .6);
	text-align: center;
	background-color: var(--background-color);
	/*background-image: url("images/b7.jpg");*/
	/* background-image: url("https://media.giphy.com/media/FizSVay8SBrEI/giphy.gif"); */
	background-image: url("./images/gallerybg.gif");
}

.heading{
	text-align:  center;
	font-size: 5rem;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	color: white;
	margin-bottom: 15px;
	text-shadow: 2px 2px 4px gray;
}

/*html {
	font-size: 62.5%;
}*/
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
}

.main .center {
	display: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main .wrap {
	margin: 2rem;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transform: perspective(100rem);
	        transform: perspective(100rem);
	cursor: pointer;
}

.main .container {
	--rX : 0;
	--rY : 0;
	--bX : 50%;
	--bY : 80%;

	width: 27rem;
	height: 32rem;
	border: 1px solid var(--background-color);
	border-radius: 1.6rem;
	padding: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	-webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
	        transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
	background: -o-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1));
	background-position: var(--bX) var(--bY);
	background-size: 55rem auto;
	-webkit-box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
	        box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
	-webkit-transition: -webkit-transform .6s 1s;
	transition: -webkit-transform .6s 1s;
	-o-transition: transform .6s 1s;
	transition: transform .6s 1s;
	transition: transform .6s 1s, -webkit-transform .6s 1s;
}
.main .container-1{
	background-image: url("images/ELC2.jpg");
   transform: rotate(15deg);
   object-fit: cover;
}

.main .container-2{
	background-image: url("images/img8.jpg");
  transform: rotate(-15deg);
  object-fit: cover;
}
.main .container-3{
	/**/
	/* url("images/ELC4.jpg") */
	background-image: url("images/img15.jpg") ;
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-4{
	background-image: url("images/img10.JPG");
	transform: rotate(-15deg);
}
.main .container-5{
	background-image: url("images/ELC1.jpg");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-6{
	background-image: url("images/ELC7.jpg");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-7{
	background-image: url("images/img14.jpg");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-8{
	background-image: url("images/img11.JPG");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-9{
	background-image: url("images/ELC.jpg");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-10{
	background-image: url("images/img9.jpg");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-11{
	background-image: url("images/img12.PNG");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-12{
	background-image: url("images/ELC5.PNG");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-13{
	background-image: url("images/ELC3.JPG");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-14{
	background-image: url("images/img13.PNG");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-15{
	background-image: url("images/ELC6.JPG");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-16{
	background-image:url("images/ELC4.jpg");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-17{
	background-image: url("images/img16.jpg");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-18{
	background-image: url("images/img17.jpg");
	transform: rotate(-15deg);
	object-fit: cover;
}
.main .container-19{
	background-image: url("images/img18.jpg");
	transform: rotate(15deg);
	object-fit: cover;
}
.main .container-20{
	background-image: url("images/img19.JPG");
	transform: rotate(-15deg);
	object-fit: cover;
}


.main .container p {
	color: hsla(0, 0%, 100%, .6);
	font-size: 2.2rem;
}

.main .container::before,
.main .container::after {
	content: '';
	width: 2rem;
	height: 2rem;
	border: 2px solid white;
	position: absolute;
	z-index: 2;
	opacity: .3;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.main .container::before {
	top: 2rem;
	right: 2rem;
	border-bottom-width: 0;
	border-left-width: 0;
}

.main .container::after {
	bottom: 2rem;
	left: 2rem;
	border-top-width: 0;
	border-right-width: 0;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
}

.main .container-active {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
